body{
    background-color:#4b517d;
}

.logo-pequeno{
    height: 90px;
  width: auto;

}
.escenas{
font-size: 25px;
text-align: center;
}
.video1{
    display: block;
    margin: 0 auto;
}



.titulo{
    text-align: center;
    color: bisque;
}
.descripcion{
    text-align: center;
    max-width: 900px;   
    margin: 20px auto;  
    line-height: 1.6;   
    font-size: 20px;   
}


