body{
    background-color: #4b517d;;
}

.logo-pequeno{
    height: 90px;
  width: auto;

}
.personajes{
text-align: center;}

.nombre{
  text-align: center;
  color: rgb(180, 168, 168);
  font-size: 20px;
}

.leo{
  width:500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.descripcion{
    text-align: center;
    max-width: 900px;   
    margin: 20px auto;  
    line-height: 1.6;   
    font-size: 20px;   
}